<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>銅鑼パーソンをオマージュしたかった何か</title>
    <meta charset="utf-8" />
    <meta
      name="keywords"
      content="銅鑼パーソン,enPiT,筑波大,筑波大学,アジャイルPBL祭り"
    />
    <meta
      name="description"
      content="筑波大enPiTのLT会用の投票システムだよ。懐かしの（？）銅鑼パーソンをオマージュした何かで銅鑼役を楽しく決めよう！"
    />
    <meta property="og:url" content="https://dora.notchman.tech" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="令和に蘇りし銅鑼パーソン" />
    <meta
      property="og:description"
      content="筑波大enPiTのLT会用の投票システムだよ。懐かしの（？）銅鑼パーソンをオマージュした何かで銅鑼役を楽しく決めよう！"
    />
    <meta property="og:site_name" content="令和に蘇りし銅鑼パーソン" />
    <meta
      property="og:image"
      content="https://fusioncomplab.org/images/slideshow/01.jpg"
    />
    <meta name="twitter:card" content="summary" />
    <link
      rel="stylesheet"
      href="static/css/index.css"
      type="text/css"
      media="all"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <section class="mb-4">
      <a class="btn btn-info" href="/"> Go to Top Page </a>
    </section>
    <section class="mb-4">{% block content %}{% endblock %}</section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
