{% extends 'base.jinja2.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>エラーが発生しました</h1>
        <div class="alert alert-danger d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24">
            <use xlink:href="#exclamation-triangle-fill" />
          </svg>
          <div>{{ detail }}</div>
        </div>
      </div>
    </div>
  </div>
  <p>5秒後にトップページにリダイレクトします...</p>
</div>

<script>
  setTimeout(function () {
    window.location.href = "/";
  }, 5000);
</script>
{% endblock %}
